<div class="card-body">
    <hr>
    <h5 class="card-title" id = "products-title">Ürünler</h5> 
    <table class="table table-sm table-striped">
        
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Materia Kod</th>
                <th scope="col">Cinsi</th>
                <th scope="col">İçerik</th>
                <th scope="col">Anavatanı</th>
                <th scope="col">Marka(Üretici)</th>
                <th scope="col">Model</th>
                <th scope="col">Desen</th>
                <th scope="col">Renk</th>
                <th scope="col">Yüzey</th>
                <th scope="col">Ölçü</th>
                <th scope="col">Kalınlık</th>
                <th scope="col">Ağırlık</th>
                <th scope="col">Kullanım Alanı</th>
                <th scope="col">Performans</th>
                <th scope="col">UV Dayanıklılık</th>
                <th scope="col">Yangın Sertifikaları</th>
                <th scope="col">Diğer Sertifikalar</th>
                <th scope="col">Sürdürülebilirlik</th>
                <th scope="col">Teknik Özellikler</th>
                <th scope="col">Garanti</th>
                <th scope="col">Notlar</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="#" id = "update-product" class= "btn btn-danger btn-sm">Güncelle</a></td> 
                <td> <a href="#" id = "delete-product" class= "btn btn-danger btn-sm">Sil</a></td>
                <td>{{item._id}} </td>
                <td>{{item.MATERIA_CODE}} </td>
                <td>{{item.TYPE}} </td>
                <td>{{item.INGREDIENT}} </td>
                <td>{{item.HOMELAND}} </td>
                <td>{{item.PRODUCER_TRADEMARK}} </td>
                <td>{{item.MODEL}} </td>
                <td>{{item.PATTERN}} </td>
                <td>{{item.COLOR}} </td>
                <td>{{item.SURFACE_FINISH}} </td>
                <td>{{item.MEASURE}} </td>
                <td>{{item.THICKNESS}} </td>
                <td>{{item.WEIGHT}} </td>
                <td>{{item.USAGE_AREA}} </td>
                <td>{{item.PERFORMANCE}} </td>
                <td>{{item.UV_RESISTANCE}} </td>
                <td>{{item.FIRE_CERTIFICATES}} </td>
                <td>{{item.OTHER_CERTIFICATES}} </td>
                <td>{{item.SUSTAINABILITY_LEED}} </td>
                <td>{{item.TECHNICIAL_SPECIFICATIONS}} </td>
                <td>{{item.WARRANTY}} </td>
                <td>{{item.NOTES}} </td>
            </tr>
           
        </tbody>
    </table>
</div>

